
/* body {
 background-image: url("../images/forest1.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%; 
} */


.girl {
    position: fixed;
    width: 90px;
    height: 100px;
    bottom: 20px;
    left: 20px;
}
.flower {
    position: absolute;
    width: 60px;
    height: 90px;
    bottom: 50px;
    right: 100px;
}
.flower1 {
    position: absolute;
    width: 60px;
    height: 90px;
    bottom: 50px;
    right: 300px;
}
.flower2 {
    position: absolute;
    width: 60px;
    height: 90px;
    bottom: 70px;
    right: 600px;
}
.flower3 {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 90px;
    right: 750px;
}
.flower4 {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 50px;
    right: 950px;
}
.flower5 {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 50px;
    right: 1060px;
}
.flower6 {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 80px;
    right: 1600px;
}
#score {    
    width: 400px;
    height: 300px;
}
.insect {
    position: fixed;
    width: 60px;
    height: 90px;
    top: 50%;
    right: 60px;
   


}
 /* .insect1 {
    position: absolute;
    width: 60px;
    height: 90px;
    bottom: 60px;
    left: 90px;
 } */








